name: Test

on:
  pull_request:
  push:
    branches:
      - "main"

permissions: {}

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  JAVA_VERSION: 17

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
      pull-requests: write

    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Configure JDK
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: ${{ env.JAVA_VERSION }}

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Test
        run: ./gradlew test --no-daemon

      - name: Report
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: Test Results
          path: build/test-results/test/*.xml
          reporter: java-junit
          fail-on-error: true
